<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-info">Publicador</h2>
                    <h4 class="header-title">Configuraciones actuales</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Topico</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Contraseña</th>
                                        <th scope="col">Puerto</th>
                                        <th scope="col">Host</th>
                                        <th scope="col">QoS</th>
                                        <th scope="col">Mensaje</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>PIICO</th>
                                        <td>Admin</td>
                                        <td>Pjsfdhf67</td>
                                        <td>1883</td>
                                        <td>192.168.0.22</td>
                                        <td>1</td>
                                        <td>{"actu":"1"}</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>PIICO/SB</th>
                                        <td>User</td>
                                        <td>Hjhgjhg5</td>
                                        <td>1883</td>
                                        <td>192.168.0.25</td>
                                        <td>0</td>
                                        <td>{"actu":"1"}</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>SB/PIICO</th>
                                        <td>User</td>
                                        <td>@JKJH776</td>
                                        <td>1883</td>
                                        <td>192.168.0.23</td>
                                        <td>1</td>
                                        <td>{"actu":"0"}</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>PIICO</th>
                                        <td>Admin</td>
                                        <td>JKL@#45</td>
                                        <td>1883</td>
                                        <td>192.168.0.21</td>
                                        <td>2</td>
                                        <td>{"actu":"1"}</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-info">Suscriptor</h2>
                    <h4 class="header-title">Configuraciones actuales</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Topico</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Contraseña</th>
                                        <th scope="col">Puerto</th>
                                        <th scope="col">Host</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>PIICO</th>
                                        <td>Admin</td>
                                        <td>Pjsfdhf67</td>
                                        <td>1883</td>
                                        <td>192.168.0.22</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>PIICO/SB</th>
                                        <td>User</td>
                                        <td>Hjhgjhg5</td>
                                        <td>1883</td>
                                        <td>192.168.0.25</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>SB/PIICO</th>
                                        <td>User</td>
                                        <td>@JKJH776</td>
                                        <td>1883</td>
                                        <td>192.168.0.23</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                    <tr>
                                        <th>PIICO</th>
                                        <td>Admin</td>
                                        <td>JKL@#45</td>
                                        <td>1883</td>
                                        <td>192.168.0.21</td>
                                        <td><i class="ti-trash"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-ml-12"> 
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h4 class="header-title">Agregar nueva confiuracion</h4>
                            <form class="needs-validation" novalidate="">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Topico</label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Topico" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Usuario</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="Usuario" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Contraseña</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Contraseña" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Puerto</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Puerto" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Host</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Host" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Calidad del servicio</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="0-1-2" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Mensaje</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Mensaje" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                                        <label class="form-check-label" for="invalidCheck">
                                            Reemplazar configuracion actual.
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Agregar - Publicador</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-6 col-ml-12"> 
            <div class="row">
                <div class="col-12">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h4 class="header-title">Agregar nueva confiuracion</h4>
                            <form class="needs-validation" novalidate="">
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Topico</label>
                                        <input type="text" class="form-control" id="validationCustom01" placeholder="Topico" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Usuario</label>
                                        <input type="text" class="form-control" id="validationCustom02" placeholder="Usuario" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Contraseña</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Contraseña" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Puerto</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Puerto" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom02">Host</label>
                                        <input type="text" class="form-control" id="validationCustom03" placeholder="Host" value="" required="">
                                        <div class="valid-feedback">
                                            Correcto!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                                        <label class="form-check-label" for="invalidCheck">
                                            Reemplazar configuracion actual.
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Agregar - Suscriptor</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<!-- main content area end -->