<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index3.html"><img src="{% static 'assets/images/icon/iconoPiico.png' %}" alt="logo"></a>
            <h3 class="text-white">PIICO</h3>
            <h5 class="text-white">Gateway</h5>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="http://127.0.0.1:8000/" aria-expanded="true"><i
                                class="ti-dashboard"></i><span>Dispositivos Conectados</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i
                                class="ti-pie-chart"></i><span>Redes</span></a>
                        <ul class="collapse">
                            <li><a href="http://127.0.0.1:8000/wifi/">WIFI</a></li>
                            <li><a href="http://127.0.0.1:8000/bluetooth/">Bluetooth</a></li>
                            <li><a href="http://127.0.0.1:8000/zigbee/">Zigbee</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i
                                class="ti-dashboard"></i><span>Broker público</span></a>
                        <ul class="collapse">
                            <li><a href="publicador.html">Publicador</a></li>
                            <li><a href="suscriptor.html">Suscriptor</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="brokerPriv.html" aria-expanded="true"><i class="ti-dashboard"></i><span>Broker
                                privado</span></a>
                        <ul class="collapse">
                            <li><a href="publicadorPriv.html">Publicador</a></li>
                            <li><a href="suscriptorPriv.html">Suscriptor</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://127.0.0.1:8000/administrador/" aria-expanded="true"><i
                                class="ti-palette"></i><span>Administrador</span></a>
                    </li>
                    <li>
                        <a href="/" aria-expanded="true"><i class="ti-palette"></i><span>Regresar a pagina
                                Principal</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>